
/* CSS for text block on analytics page */

#center-alert-info-id {

     width: 100%;

     text-align: center;

     display: inline-block;
}

#alert-info-id {

     background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);

     background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);

     background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));

     background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);

     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);

     background-repeat: repeat-x;

     border-radius: 4px;

     border: solid 1px #9acfea;

     font-family: Helvetica, Arial, sans-serif;

     text-align: center; display: inline-block;

     width: 60%;

     margin: 1em 0.5em 2% 1em;

     padding: 0.5em 2%;

}

