/*
    new styles for help menu options
*/

/* hide the menu options until the new options have 
   been added via javascript */
#help-dialog-options {
    display: none;
}

#help-dialog #help-dialog-options{
    background:#f3f4f5;
}

#help-dialog #help-dialog-options li span.info-no-url {
    display: block;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #d4d5d7;
    padding: 10px 12px;
    text-decoration: none;
}

#help-dialog #help-dialog-options li a .text,
#help-dialog #help-dialog-options li span.info-no-url .text {
    color:#1967aa;
    font-size: 1.1em;
    font-weight: bold;
}

#help-dialog #help-dialog-options li a .subtext,
#help-dialog #help-dialog-options li span.info-no-url .subtext {
    color:#666666;
    font-style: italic;
    display: block;
    font-size: 0.9em;
    line-height: 1.1em;
}

/* end help menu options */


