/*
    styles for custom help menu options to match existing Canvas help menu
*/

/* hide the menu options until the new options have been added via javascript */
#help-dialog-options {
    display: none;
}

/* matches #help-dialog #help-dialog-options li a (canvas default) */
#help-dialog #help-dialog-options li span.info-no-url {  /* custom */
    border-bottom: 1px solid #d6d6d6;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: 500;
}

/* matches #help-dialog #help-dialog-options li a .text (canvas default) */
#help-dialog #help-dialog-options li span.info-no-url .text {  /* custom */
    color: #0081bd;
}

/* matches #help-dialog #help-dialog-options li a .subtext (canvas default) */
#help-dialog #help-dialog-options li span.info-no-url .subtext {  /* custom */
    color: dimgray;
    display: block;
    font-size: 0.75rem;
    /* font-size: 12px; also specified but overridden by font-size: 0.75rem; */
    font-weight: 300;
}

/* end help menu options */


